---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tautulli-config-pvc
  namespace: tautulli
spec:
  storageClassName: hostpath-sc # <-- Add your own storage class or remove the line
  accessModes: [ReadWriteOnce]
  resources: { requests: { storage: 1Gi } }