apiVersion: v1
kind: ConfigMap
metadata:
  name: tautulli-configmap
  namespace: tautulli
data:
  TZ: "Europe/Paris" # <-- Add your own TZ
  PUID: "YOUR-USER-UID"  # <-- Add your own user UID
  PGID: "YOUR-USER-GID"  # <-- Add your own user GID
